// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MineApi from "../../../index.js";

export declare namespace DbClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DbClient {
    protected readonly _options: NormalizedClientOptions<DbClient.Options>;

    constructor(options: DbClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {MineApi.GetDbTestField1Request} request
     * @param {DbClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.db.getDbTestField1({
     *         field1: "field1"
     *     })
     */
    public getDbTestField1(
        request: MineApi.GetDbTestField1Request,
        requestOptions?: DbClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getDbTestField1(request, requestOptions));
    }

    private async __getDbTestField1(
        request: MineApi.GetDbTestField1Request,
        requestOptions?: DbClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { field1 } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `db/test/${core.url.encodePathParam(field1)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/db/test/{field1}");
    }

    /**
     * @param {MineApi.PostDbTestField1Request} request
     * @param {DbClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MineApi.UnprocessableEntityError}
     *
     * @example
     *     await client.db.postDbTestField1({
     *         field1: "field1"
     *     })
     */
    public postDbTestField1(
        request: MineApi.PostDbTestField1Request,
        requestOptions?: DbClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__postDbTestField1(request, requestOptions));
    }

    private async __postDbTestField1(
        request: MineApi.PostDbTestField1Request,
        requestOptions?: DbClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { field1 } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `db/test/${core.url.encodePathParam(field1)}`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new MineApi.UnprocessableEntityError(
                        _response.error.body as MineApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/db/test/{field1}");
    }

    /**
     * @param {MineApi.GetDbTestTestidTest2Field2Request} request
     * @param {DbClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.db.getDbTestTestidTest2Field2({
     *         testid: "testid",
     *         field2: "field2"
     *     })
     */
    public getDbTestTestidTest2Field2(
        request: MineApi.GetDbTestTestidTest2Field2Request,
        requestOptions?: DbClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getDbTestTestidTest2Field2(request, requestOptions));
    }

    private async __getDbTestTestidTest2Field2(
        request: MineApi.GetDbTestTestidTest2Field2Request,
        requestOptions?: DbClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { testid, field2 } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `db/test/${core.url.encodePathParam(testid)}/test2/${core.url.encodePathParam(field2)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MineApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/db/test/{testid}/test2/{field2}",
        );
    }

    /**
     * @param {MineApi.PostDbTestTestidTest2Field2Request} request
     * @param {DbClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MineApi.UnprocessableEntityError}
     *
     * @example
     *     await client.db.postDbTestTestidTest2Field2({
     *         testid: "testid",
     *         field2: "field2"
     *     })
     */
    public postDbTestTestidTest2Field2(
        request: MineApi.PostDbTestTestidTest2Field2Request,
        requestOptions?: DbClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__postDbTestTestidTest2Field2(request, requestOptions));
    }

    private async __postDbTestTestidTest2Field2(
        request: MineApi.PostDbTestTestidTest2Field2Request,
        requestOptions?: DbClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { testid, field2 } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `db/test/${core.url.encodePathParam(testid)}/test2/${core.url.encodePathParam(field2)}`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new MineApi.UnprocessableEntityError(
                        _response.error.body as MineApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MineApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/db/test/{testid}/test2/{field2}",
        );
    }
}
